<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="30025" type="lsep"/>
    <setting label="30024" id="live_play_type" type="enum" default="0" lvalues="30020|30012"/>
    <setting label="30014" id="show_hero_contents" type="bool" default="true"/>
    
    <setting label="30026" type="lsep"/>
    <setting label="32023" type="bool" id="use_ia_hls" default="true"/>
    <setting label="32018" type="action" action="RunPlugin(plugin://$ID/?_=_ia_settings)" option="close" />
    <setting label="32021" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" visible="false"/>

    <setting label="30027" type="lsep"/>
    <setting label="32019" type="action" action="RunPlugin(plugin://$ID/?_=_reset)"/>
    <setting id="_fresh" type="bool" visible="false" default="true"/>
</settings>